{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{#
  Added Bootstrap flex utility classes:
  - d-flex: enable flexbox
  - flex-column / flex-md-row: stack on mobile, row on desktop
  - justify-content-between: space items apart
  - align-items-center: vertical alignment
  - gap-3: spacing between items
#}

{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'd-flex',
    'flex-column',
    'flex-md-row',
    'justify-content-between',
    'align-items-center',
    'gap-3',
  ]
%}
{% if content %}
  <div{{ attributes.addClass( classes) }}>
    {{ content }}
  </div>
{% endif %}
